<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/assets/todo.js"></script>
    <link rel="stylesheet" href="/public/assets/style.css" type="text/css">
</head>
<body>
    <div id="container">
        <form action="todo" id="formContainer" method="GET">
            <input type="text" name="textField" id="textField" placeholder="Add something here...">
            <input type="submit" value="Add Item">
        </form>
        <ul id="itemsList">
            <% for(let x = 0; x < data.length; x++ ) { %>
            <li> <%= data[x] %> </li>
            <% } %>
            <li>Item 1</li>
            <li>Item 2</li>
        </ul>
    </div>
</body>
</html>