@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');
body {
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    margin: 0;
    background-color: lavender;
}


form {
    display: flex;
    flex-direction: column;
}

#textField {
    margin: 20px auto;
    box-shadow: 0 5px 10px rgba(101, 103, 112, 0.212), 0 15px 40px rgba(100, 103, 114, 0.178);
    border-radius: 3px;
    background-color: mediumpurple;
    padding: 20px 10px 40px 10px;
    width: 80vw;
    font-size: 1em;
    border: thin;
    color: white;
}

#textField::placeholder {
    color: white;
    
}

input[type='submit'] {
    font-weight: 700;
    font-size: 1.05em;
    background-color: rgb(243, 243, 243);
    color: rgb(115, 87, 167);
    border: thin;
    padding: 10px 5px;
    width: 120px;
    position: absolute;
    top: 80px;
    left: 43vw;
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgb(128, 128, 128);
}

#itemsList {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80vw;
    margin: 20px auto;
    padding: 10px;
    list-style: circle inside;
    line-height: 40px;
    box-shadow: 0 5px 10px rgba(101, 103, 112, 0.212), 0 15px 40px rgba(100, 103, 114, 0.178)

}

span {
    display: flex;
    width: 100%;
    justify-content: center;
}

li {
    border-bottom: 0.5px solid mediumpurple;
    text-decoration: none;
    transition: text-decoration 2s;
}


li:last-child {
    border: none;
}
 li:hover {
     text-decoration: line-through ;
 }
